<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Pricing</h2>
    </div>

    <div class="row">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="box">
         Selected Service : <div class="cservice"> {{datas[2]}}  </div>
         One Way 
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="box">Selected Car Size: 
          <div class="csize">{{datas[0]}}
          </div>
           Picup Mini Car
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          Total Price :<div class="cprice"> {{datas[1]}} Rs
          </div>
          150 Rs
        </div>
      </div>

    </div>

  </div>
</section>

