<app-header></app-header>

<main id="main">
  
  <router-outlet>
    

   <main id="main">
     <section id="hero" class="d-flex align-items-center">
     
       <div class="container">
         <div class="row">
           <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
             <h1>GaragePlug</h1>
             <h2>Car Booking Services :
              Detailing Center</h2>
             <div class="d-lg-flex">
               <a  (click)="toService()" routerLink="active" class="btn-get-started scrollto">Select Sevices</a>
                   </div>
           </div>
           <div class="col-lg-6 order-1 order-lg-2 1-1" data-aos="zoom-in" data-aos-delay="200">
             <img src="assets/img/car2-5.png" class="img-fluid animated" alt="">
           </div>
         </div>
       </div>
     
     </section></main>
  </router-outlet>
</main>

<router-outlet>

<app-services></app-services>
<app-carsize></app-carsize>
<app-price></app-price>
<app-contact></app-contact>
</router-outlet>
<app-footer></app-footer>

 


   
