<main id="main">

<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
     </div>

      <div class="row">
        <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div><img src="assets/img/local.png" class="img-fluid" alt="" height="30%" width="30%"></div>
            <h2>-------------------</h2>
            <h4  ><a routerLink="carsize"  data-index="1" name="local" (click)="onItemSelector('Local Rental')">{{data.rental}}</a></h4>
          </div>
          </div>
      

        <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div><img src="assets/img/1way.jpg" class="img-fluid" alt="" height="30%" width="30%"></div>
            <h2>-------------------</h2>

            <h4 ><a routerLink="carsize"   data-index="2" name="one" (click)="onItemSelector('One Way')">{{data.one}}</a></h4>
          </div>
        </div>
      
        <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div><img src="assets/img/round.png" class="img-fluid" alt="" height="30%" width="30%"></div>
            <h2>-------------------</h2>
            <h4 ><a routerLink="carsize"  data-index="3" name="two" (click)="onItemSelector('Two Way')">{{data.two}}</a></h4>
          </div>
         </div>

        <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="400">
         <div class="icon-box">
          <div><img src="assets/img/long.png" class="img-fluid" alt="" height="30%" width="30%"></div>
           <h2>--------------------</h2>

          <h4 ><a routerLink="carsize"  data-index="4" name="long"(click)="onItemSelector('Long Route')" >{{data.long}}</a></h4>
          </div>
        </div>
      </div>
      </div>
         

  
  </section>
  </main>

  